.span-content-inner{
	text-align: center;
	width: 100%;
}

#navbarSupportedContent{
	position: relative;
	bottom: 0;
	text-align: center;
	right: 0 !important; 
	bottom: 0 !important;
}

.nav-item{
	margin: 3% 5%;
}

.img-logo{
	height: 37px;
	margin: 3% -1%;
}

#container{
	top: 13px;
	right: 23%;
}

.section-icon {
   display: none;
}

.img-logo{
	height: 35px;
	margin: 3% 0%;
}

.section-title-content{
	margin: 0;
}

.section-title{
	font-size: 1em;
	text-align: center;
	clear: both;
}

.sponsor-banner {
    margin: 70px 0 0 0;
    background-size: contain;
    height: 50px;
}

.social-top-content {
    margin-left: 0;
    text-align: center;
}

.margin-blank{
	border-left: none;
	margin: 1% 0;
}

.margin-left-side{
	float: none;
	border-right: none;
}

.forced-news{
	border-top: 5px solid #fff;
}

.btn-seemore{
	margin: 0;
}

.news-bottom{
	border-left: none;
	border-top: 5px solid #FFF;
}

.article-left{
	border-top: 5px solid #FFF;
}

.forced-right{
	padding: 0 0 10% 0;
	text-align: center;
}

.copyright{
	line-height: 50px;
}

.social-row{
	padding-left: 0;
	text-align: center;
}

.article-content{
	height: 300px;
}

#s:focus{
  width:4em;
  opacity:1;
  border-bottom: 1px solid #00B5ED;
}