.header-fixed-top{
	height: auto;
}

.span-content-inner{
	width: 97%;
	color: #FFF;
	text-align: right;
	margin-top: 10px;
}

#navbarSupportedContent{
	position: relative;
	bottom: 0;
	text-align: center;
	right: 0 !important; 
	bottom: 0 !important;
}

.nav-item{
	margin: 3% 5%;
}

#hidden-lg-bar{
	display: block;
	position: absolute;
	width: 114%;
	left: -16px;
}

#container{
	top: 0;
	right: 16%;
}

.section-icon {
   display: none;
}

.img-logo{
	height: 35px;
	margin: 0% 10%;
}

.section-title-content{
	margin: 0;
}

.section-title-content.min-top {
    margin: 0;
}

.section-title{
	font-size: 1em;
	text-align: center;
	clear: both;
}

.sponsor-banner {
    margin: 10px 0 10px 0 !important;
    background-size: contain;
    height: 50px;
}

.social-top-content {
  display: none;
}


.margin-blank{
	border-left: none;
	margin: 0;
}

.margin-left-side{
	float: none;
	border-right: none;
}

.forced-news{
	border-top: 5px solid #fff;
}

.btn-seemore{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	right: 6%;
	font-size: 2em;
	-webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.29);
}

.news-bottom{
	border-left: none;
	/* border-top: 5px solid #FFF; */
	margin-top: 5px;
}

.news-content {
    margin: 5px 0 0 0;
}

.article-left{
	border-top: 5px solid #FFF;
}

.forced-right{
	padding: 0 0 10% 0;
	text-align: center;
}

.copyright{
	line-height: 50px;
}

.social-row{
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.article-content{
	height: 300px;
}

#s:focus{
  width:5em;
  opacity:1;
  border-bottom: 1px solid #00B5ED;
}

#outstanding-news {
    margin-top: 63px;
}

.navbar{
	padding: .5rem 0rem;
}

.row.initial{
	position: relative;
	width: 100%;
}

.slider-news{
	width: 100%;
	margin: 5px 0;
}

.news-thin-row{
	margin: 0;
}

.medium-bar:first-child{
	border-right: 1px solid aliceblue;
}

.max-min {
    display: inline-block;
	font-family: 'Poppins Regular', sans-serif;	
	color: #ffffff;
	font-size: 0.7em;
	position: absolute;
	top: 23%;
	margin-left: 1%;
	transition: all 0.35s;
	right: 68%;
}

#min-temp{
	top: 43%;
}

.weather-img-mobile {
    position: relative;
    height: 30px;
    margin: 10px 0;
    left: -21%;
}
