.span-content-inner{
	text-align: center;
	width: 100%;
}

.weather-btn{
	background-color: #00B5ED;
	border-radius: 0;
	border: none;
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 11.3%;
	height: 45px;
	transition: all 0.35s;
}

#navbarSupportedContent{
	position: relative;
	bottom: 0;
	text-align: center;
	right: 0 !important; 
	bottom: 0 !important;
}

#hidden-lg-bar{
	display: block;
}

#container{
	top: 0;
	right: 8%;
}

.img-logo{
	height: 35px; 
	margin: 0px 10%;
}

#outstanding-news-title{
	width: 94%;
}

.news-bottom {
    height: 300px;
    border-left: none;
    border-top: 5px solid #FFF;
}

.margin-left-side{
	border-right: none;
	border-bottom: 5px solid #FFF;
}

.social-top-content {
    text-align: right;
    position: relative;
	height: 50px;
	border: none;
	margin: 3% 0 0 2%;
	float: right;
}

.social-icon.top-social{
	margin: 0;
}

#outstanding-news {
    margin-top: 63px;
}

.header-fixed-top{
	height: auto;
	padding-top: 0;
	padding: 0;
}

.medium-bar:first-child{
	border-right: 1px solid aliceblue;
}

.max-min {
    display: inline-block;
	font-family: 'Poppins Regular', sans-serif;	
	color: #ffffff;
	font-size: 0.7em;
	position: absolute;
	top: 3%;
	margin-left: 1%;
	transition: all 0.35s;
	right: 76%;
}

#min-temp{
	top: 8%;
}

.weather-img-mobile {
    position: relative;
    height: 30px;
    margin: 10px 0;
    left: -21%;
}

.temp-actual-mobile{
	left: 18%;
}

.navbar-expand-lg .navbar-nav {
    margin-right: 3% !important;
    margin-top: 0;
    text-align: left;
}