.span-content-inner{
	width: 97%;
	color: #FFF;
	text-align: right;
	margin-top: 10px;
}

#navbarSupportedContent{
	position: relative;
	bottom: 0;
	text-align: center;
	right: 0 !important; 
	bottom: 0 !important;
}


.row.initial{
	position: relative;
	width: 100%;
}

#hidden-lg-bar{
	display: block;
	position: absolute;
	width: 114%;
	left: -16px;
}

.sponsor-banner{
	margin-top: 63px;
}

#container{
	right: 8%;
}

.img-logo{
	height: 35px;
	margin: 0% 10%;
}

.section-title-content{
	margin: 0;
}

.section-title-content.min-top{
	margin: 0;
}

.margin-blank{
	border-left: none;
	margin: 0;
}

.margin-left-side{
	float: none;
	border-bottom: 5px solid #fff;
	border-right: none;
}

.forced-news{
	border-top: 5px solid #fff;
}

.btn-seemore{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	right: 3%;
	font-size: 2em;
	-webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.29);
}

.news-bottom{
	border-left: none;
	border-top: 5px solid #FFF;
}

.news-content{
	margin: 0px 3%;
}

.article-left{
	border-top: 5px solid #FFF;
}

.forced-right{
	padding: 0 0 10% 0;
	text-align: center;
}

.copyright{
	line-height: 50px;
}

.social-row{
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.article-content{
	height: 300px;
}

#s:focus{
  width:3.5em;
  opacity:1;
  border-bottom: 1px solid #00B5ED;
}

#outstanding-news {
    margin-top: 63px;
}

.navbar{
	padding: .5rem 0rem;
}

.medium-bar:first-child{
	border-right: 1px solid aliceblue;
}

.max-min {
    display: inline-block;
	font-family: 'Poppins Regular', sans-serif;	
	color: #ffffff;
	font-size: 0.7em;
	position: absolute;
	top: 23%;
	margin-left: 1%;
	transition: all 0.35s;
	right: 76%;
}

#min-temp{
	top: 43%;
}

.weather-img-mobile {
    position: relative;
    height: 30px;
    margin: 10px 0;
    left: -21%;
}

.navbar-expand-lg .navbar-nav {
    margin-left: 3% !important;
    margin-top: 8%;
    text-align: left;
}

.temp-actual-mobile {
    left: 18%;
}